
body {
    background-image: url(../images/backgroundimage.jpeg);
    opacity: 0.85;
    background-size: cover;
}
.table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.text {
    position: relative;
    color: #fff;
    text-align: left;
    display: flex;
    font-size: 4rem;
    line-height: 0.9; 
}

td, th {
    padding: 20px;
}
#contact_link1 {
    color:#fff;
}
#contact_link2 {
    color:#fff;
}