body {
    background-image: url(../images/backgroundimage.jpeg);
    opacity: 0.85;
    background-size: cover;
}
.description {
    margin: 140px;
    color: #fff;
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;
}
@media screen and (max-width: 600px) {
    .description {
        font-size: 1rem;}
}
li {
    margin: 30px;
}